* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 20px;
  line-height: 1.5;
}

header {
  font-family: 'Josefin Slab', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
h1, h2, h3, h4 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

h3 {
  font-size: 26px;
}

p.dummy {
  font-style: italic;
  max-width: 400px;
  font-weight: 300;
}

section.landing-section {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2cb7ab;  
  margin: 5%;
  background: #edf8f7;
  border-radius: 1em;
  padding-left: 5%;
  padding-right: 5%;
  
}

form.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


form.signup-form > label, form.signup-form > input {
  align-self: center;
}


p {
  max-width: 32em;
  font-size: 20px;
}

button.login-button {
  padding: 10px 25px 10px 25px;
}

h3 {
  font-style: italic;
}

@media (max-width: 599px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .hide-tablet {
    display: none;
  }
}

@media(min-width: 1201px) {
  .hide-desktop {
    display: none;
  }
}