* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #e4d6cd;
  position: relative;
}

.topnav #hamberder-dropdown {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #645c56;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  text-align: left;
}

a.dropdown-anchors {
  text-align: center;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #e4d6cd;
  display: block;
  position: absolute;
  font-size: 48px;
  right: 0;
  top: 0;
  
}

form.navbar-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 17px;
  color: #645c56
}

.user-message {
  text-align: right;
  font-size: 13px;
  font-weight: 300;
  color: #d76154;
}

button#submit-signup {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #d76154;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

button.login-button, button.logout-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #d76154;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}


