* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #dfcec2;
  position: relative;
}

.topnav #hamberder-dropdown {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #837a71;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: left;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #dfcec2;
  display: block;
  position: absolute;
  font-size: 48px;
  right: 0;
  top: 0;
}


.topnav a:hover {

}

/* Style the active link (or home/logo) */
.active {
  color: white;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}