* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.goals {
  background-color: #ddd;
  margin-bottom: 20px;
}

.project3 {
  min-height: 200px;
}

.expanded {
  display: flex;
  flex-direction: row;
}

p {
  margin-right: 10px;
}
header {
  margin-top: 200px;
  padding-top: 5%;
  margin-bottom: 10px;
}
.inner {
  display: flex;
  flex-direction: column;
  
}

button {
  max-height: 50px;
  max-width: 200px;
  margin-top: 10px;
}

section {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 1% 0;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  flex-basis: 1;
}
