button.library-add-items {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #d76154;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}


.cr-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ml-items {
  flex-basis: 600px;
}